n8n_flows/02_mensagens_POST.json
{
  "name": "Meta Acad - Webhook Mensagens",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "metaacad",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "bb000001-0001-0001-0001-000000000001",
      "name": "Webhook Meta"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst results = [];\n\ntry {\n  const entries = body.entry || [];\n  for (const entry of entries) {\n    for (const change of (entry.changes || [])) {\n      const val = change.value || {};\n      for (const msg of (val.messages || [])) {\n        results.push({\n          wamid: msg.id || '',\n          phone: msg.from || '',\n          msg_type: msg.type || 'text',\n          body_text: msg.text?.body || msg.button?.text || msg.interactive?.button_reply?.title || '',\n          timestamp: msg.timestamp || '',\n          full_payload: body\n        });\n      }\n    }\n  }\n} catch (e) {\n  results.push({ error: e.message, full_payload: body });\n}\n\nreturn results.length > 0 ? results : [{ msg_type: 'no_message', full_payload: body }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "bb000002-0002-0002-0002-000000000002",
      "name": "Extrai wamid"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has_wamid",
              "leftValue": "={{ $json.wamid }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0],
      "id": "bb000003-0003-0003-0003-000000000003",
      "name": "Tem wamid?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO wamid_cache (phone, wamid, updated_at) VALUES ('{{ $json.phone }}', '{{ $json.wamid }}', NOW()) ON CONFLICT (phone) DO UPDATE SET wamid = EXCLUDED.wamid, updated_at = NOW()",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, -80],
      "id": "bb000004-0004-0004-0004-000000000004",
      "name": "Grava wamid PostgreSQL",
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_SEU_POSTGRES",
          "name": "PostgreSQL log_conversa"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-new-n8n.ca31ey.easypanel.host/webhook/583eb17d-3455-4d64-ab68-67996fdb30af/webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Extrai wamid').item.json.full_payload) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -80],
      "id": "bb000005-0005-0005-0005-000000000005",
      "name": "Repassa p/ Evolution",
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1100, 0],
      "id": "bb000006-0006-0006-0006-000000000006",
      "name": "Responde 200"
    }
  ],
  "connections": {
    "Webhook Meta": {
      "main": [
        [{ "node": "Extrai wamid", "type": "main", "index": 0 }]
      ]
    },
    "Extrai wamid": {
      "main": [
        [{ "node": "Tem wamid?", "type": "main", "index": 0 }]
      ]
    },
    "Tem wamid?": {
      "main": [
        [{ "node": "Grava wamid PostgreSQL", "type": "main", "index": 0 }],
        [{ "node": "Responde 200", "type": "main", "index": 0 }]
      ]
    },
    "Grava wamid PostgreSQL": {
      "main": [
        [{ "node": "Repassa p/ Evolution", "type": "main", "index": 0 }]
      ]
    },
    "Repassa p/ Evolution": {
      "main": [
        [{ "node": "Responde 200", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {}
}
